@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    transform: translatey(-11px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
}

.hero {
  background: #232526;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.PFP {
  border-radius:  100%;
  box-shadow: 0 5px 15px 0px rgb(255, 255, 255);
  transform: translatey(0px);
  animation: float 4s ease-in-out infinite;
}

.up {
  transition: transform .7s ease-in-out;
}

.up:hover {
  transform: rotate(360deg);
}

.smallIcon {
    width: 50px !important;
    height: 50px !important;
}

.largeIcon {
  width: 80px !important;
  height: 50px !important;
}

.icons > img {
  margin: 8px 12px;
}

@media only screen and (min-width: 640px) and (max-width: 768px){
  .smallIcon {
    width: 40px !important;
    height: 40px !important;
  }
  .largeIcon {
    width:70px !important;
    height: 40px !important;
  }
  .icons > img {
    margin: 4px 8px;
  }

  .blueBoxShadow {
    box-shadow:
      5px 0 35px 0px #72EFDD !important;
  }

  .purpleBoxShadow {
    box-shadow:
      -5px 0 35px 0px #6930C3 !important;
  }
}

@media only screen and (max-width: 640px){
  .smallIcon {
    width: 30px !important;
    height: 30px !important;
  }
  .largeIcon {
    width:50px !important;
    height: 30px !important;
  }
  .icons > img {
    margin: 4px 8px;
  }

  .blueBoxShadow {
    box-shadow:
      5px 0 35px 0px #72EFDD !important;
  }

  .purpleBoxShadow {
    box-shadow:
      -5px 0 35px 0px #6930C3 !important;
  }
}

.tech {
  transition: transform .2s;
}

.tech:hover {
  transform: scale(1.1);
}

.project {
  transition: transform .2s;
  background-color: rgba(255, 255, 255, 0.8);
}

.project:hover {
  transform: translatey(-6px);
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.6);
  background-color: rgba(255, 255, 255, 1);
}


@keyframes raise {
  0% {
    transform: translatey(0px);
  }
  30% {
    transform: translatey(-4px);
  }
  100% {
    transform: translatey(0px);
  }
}

.socials_left > a:hover {
  animation: raise 1s ease-out;
  transition: 0.3s ease-out;
}

.copyright {
  border-top-width: 1px;
}

/*Blinking typewriter effect*/
@-webkit-keyframes typeBlink {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: rgb(0, 0, 0);
  }
}

@keyframes typeBlink {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: rgb(0, 0, 0);
  }
}

.typeBlink {
  border-right: 0.08em solid rgb(0, 0, 0);
}

.typeBlink {
  -webkit-animation: typeBlink 1s step-end infinite;
  animation: typeBlink 1s step-end infinite;
}

.socialIcon {
  display: inline-block;
  transition: all .2s ease-in-out; 
}

.socialIcon:hover {
  transform: scale(1.2);
}

.aboutText {
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
}

.about {
  background: rgb(23,18,31);
background: linear-gradient(177deg, rgba(23,18,31,1) 36%, rgba(27,5,46,1) 74%, rgba(25,4,46,1) 100%);
}

.absoluteBackground {
  background-image: url("../../images/backdrop2.png");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1 !important;
}

.animate__animated {
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.5s;
}

.accordion {
  color: rgb(255, 255, 255);
  cursor: pointer;
  transition: 0.4s;
  background-color: #5E60CE;
}

.panel {
  background-color: rgba(231, 234, 244, 0.7);
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  color: rgb(71, 71, 71);
}

.accordion:after {
  content: '+';
  font-size: 20px;
  float: right;
}

.active:after {
  content: '-';
}


.howdy {
  background: #5390D9;
  background: linear-gradient(to right, #5390D9 0%, #72EFDD 77%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.technologies {
  background: #7400B8;
  background: linear-gradient(to right, #7400B8 0%, #6930C3 12%, #4EA8DE 57%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.experience {
  background: #FC466B;
background: linear-gradient(to right, #FC466B 0%, #3F5EFB 80%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.experienceBorder {
  background: rgb(63,94,251);
background: -moz-linear-gradient(141deg, rgba(63,94,251,1) 9%, rgba(252,70,107,1) 100%);
background: -webkit-linear-gradient(141deg, rgba(63,94,251,1) 9%, rgba(252,70,107,1) 100%);
background: linear-gradient(141deg, rgba(63,94,251,1) 9%, rgba(252,70,107,1) 100%);

}

.blueGlow {
  background: rgb(114, 239, 221);
  background: radial-gradient(ellipse, rgba(114, 239, 220, 0.509) 0%, rgba(25,4,46,0) 70%);
}

.purpleGlow {
  background: rgb(105, 48, 195);
  background: radial-gradient(ellipse, rgba(105, 48, 195, 0.509) 0%, rgba(25,4,46,0) 70%);
}

.softGlow {
  background: rgb(107,60,182);
  background: radial-gradient(circle, rgba(94, 96, 206, 0.28) 0%, rgba(25,4,46,0) 70%);
}