@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    transform: translatey(-11px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
}

.PFP {
  border-radius:  100%;
  box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
  transform: translatey(0px);
  animation: float 4s ease-in-out infinite;
}

.up {
  transition: transform .7s ease-in-out;
}

.up:hover {
  transform: rotate(360deg);
}

.smallIcon {
    width: 50px !important;
    height: 50px !important;
}

.largeIcon {
  width: 80px !important;
  height: 50px !important;
}

.icons > img {
  margin: 8px 12px;
}

@media only screen and (min-width: 640px) and (max-width: 768px){
  .smallIcon {
    width: 40px !important;
    height: 40px !important;
  }
  .largeIcon {
    width:70px !important;
    height: 40px !important;
  }
  .icons > img {
    margin: 4px 8px;
  }
}

@media only screen and (max-width: 640px){
  .smallIcon {
    width: 30px !important;
    height: 30px !important;
  }
  .largeIcon {
    width:50px !important;
    height: 30px !important;
  }
  .icons > img {
    margin: 4px 8px;
  }
}

.tech {
  transition: transform .2s;
}

.tech:hover {
  transform: scale(1.1);
}

.project {
  transition: transform .2s;
  background-color: rgba(255, 255, 255, 0.8);
}

.project:hover {
  transform: translatey(-6px);
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.6);
  background-color: rgba(255, 255, 255, 1);
}


@keyframes raise {
  0% {
    transform: translatey(0px);
  }
  30% {
    transform: translatey(-4px);
  }
  100% {
    transform: translatey(0px);
  }
}

.socials > a:hover {
  animation: raise 1s ease-out;
  transition: 0.3s ease-out;
}

.socials_left > a:hover {
  animation: raise 1s ease-out;
  transition: 0.3s ease-out;
}

.copyright {
  border-top-width: 1px;
}

/*Blinking typewriter effect*/
@-webkit-keyframes typeBlink {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: black;
  }
}

@keyframes typeBlink {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: black;
  }
}

.typeBlink{
  border-right: 0.08em solid #000;
}

.typeBlink {
  -webkit-animation: typeBlink 1s step-end infinite;
  animation: typeBlink 1s step-end infinite;
}
