@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    transform: translatey(-11px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
}

.PFP {
  border-radius:  100%;
  box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
  transform: translatey(0px);
  animation: float 4s ease-in-out infinite;
}


/* @media only screen and (min-width: 768px) {
    #MenuItems {
        gap: 5rem !important;
    }
}

@media (min-width: 640px) and (max-width:768px){
    #MenuItems {
        gap: 3rem !important;
    }
}
#MenuItems {
    gap: 1.5rem !important;
} */